html {
  margin: 0px;
  display: flex;
}

body {
  display: flex;
  background-color: #181818;
  height: 100vh;
  width: 100vw;
  margin: 0px;

  align-content: space-evenly;
}

.modal-background {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background: black;
  z-index: 10;
  opacity: 1;
  animation-name: modal_bg_fade_in;
  animation-duration: 0.9s;
}

.modal-main {
  color: white;
  background: #181818;
  padding: 0px 60px 0px 60px;
  height: 92vh;
  width: 80vw;
  margin: 0 auto;
  position: relative;
  top: 4%;
  opacity: 1;
  z-index: 11;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* padding: 10px; */
  animation-name: modal_main_fade_in;
  animation-duration: 0.9s;
  /* border-radius: 20%; */
}

.modal-main h2 {
  font-family: "Play", sans-serif;
  font-size: 55px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.modal-main p {
  margin-bottom: 10px;
}

.welcome-warning {
  font-family: "Oswald", sans-serif;
  border: 1px solid white;
  padding: 15px;
  font-size: 15px;
}

.welcome-instructions {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin: 10px 225px 10px 225px;
}

.modal-main-fade {
  animation-name: modal_main_fade_out;
  animation-duration: 0.9s;
  opacity: 0;
  z-index: -1;
}

.modal-bg-fade {
  animation-name: modal_bg_fade_out;
  animation-duration: 0.9s;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

@keyframes modal_main_fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal_bg_fade_in {
  from {
    background: transparent;
  }
  to {
    background: black;
  }
}

@keyframes modal_main_fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes modal_bg_fade_out {
  from {
    background: black;
  }
  to {
    background: transparent;
  }
}

canvas {
  display: flex;
  position: fixed;
  border: 8px outset grayscale($color: whitesmoke);
  /* border: 5px double white; */
  width: 95vw;
  height: 77vh;
  margin-top: 3vh;
  margin-left: 2vw;
  /* height: 50vh; */
  /* border-radius: 55%; */
  border-radius: 1000px;
  align-self: center;
  background-color: #0e0e0e;
  background-image: url("../../assets/images/stars.jpg");
  background-size: contain;
  z-index: 1;
}

audio {
  left: 100px;
  top: 80px;
  width: 250px;
  z-index: 3;
  margin-left: 23px;
  background: transparent;
  outline: none;
}

audio::-webkit-media-controls-panel {
  background: transparent;
}

#file-input {
  display: flex;
  width: 90px;
  z-index: 3;
  margin-left: 30px;
  outline: none;
  font-family: "Oswald", sans-serif;
}

#file-input::-webkit-file-upload-button {
  visibility: hidden;
  /* display: none; 
  color: transparent;*/
}

#file-input::before {
  content: "select a song";
  text-align: center;
  margin-top: 30px;
  padding: 0px 1px 2px 1px;
  /* padding-top: 10px;
  padding-bottom: 14px; */
  /* padding-top: 14px;
  padding-bottom: 14px; 
  /* padding-left: 10px; */
  border-radius: 15px;
  border: 0;
  background-color: #222841;
  /* background-color: #5d548d; */
  font-weight: bolder;
  font-size: 18px;
  border: 5px solid #222841;
  cursor: pointer;
  color: white;
  transition-duration: 0.8s;
}

#file-input:hover {
  outline: none;
  opacity: 0.8;
}

#name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  /* background-color: #0e0e0e; */
  /* background-color: white; */
  color: white;
  left: 55vw;
  top: 7vh;
  /* border: 1px solid white; */
  border-radius: 50px;
  /* border-radius: 25px; */
  min-width: 100px;
  height: 36px;
  font-family: "Great Vibes", cursive;
  font-size: 25px;
}

@keyframes bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 8px 8px;
  }
}

.app-container {
  margin: 0px;
  padding: 0px;
}

.app-header {
  display: flex;
  width: 38vw;
  /* height: 12vh; */
  height: 14vh;
  top: 30px;
  position: fixed;
  left: -45px;
  border-radius: 50px;
  font-family: "Play", sans-serif;
  /* background-color: #d1d1d1; */
  background-color: white;
  color: black;
  border: 5px solid black;
  z-index: 3;
}

.app-header h1 {
  font-size: 45px;
  padding-left: 55px;
  letter-spacing: 1px;
}

.app-header:hover {
  font-size: 150%;
  /* background-color: #d4d1da; */
  /* background-color: #3a4162; */
  /* background-color: #272c42; */
  background-color: #4a4f7d;
  color: white;
  /* border: 4px solid #d4d1da; */
  border: 4px solid whitesmoke;
}

.ambiance-nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25px;
  /* width: 67vw; */
  width: 60vw;
  padding-top: 4vh;
  height: 11vh;
  top: -6vh;
  right: -100px;
  /* border: 5px solid #d4d1da; */
  border: 5px solid #bcbed7;
  /* border: 5px solid #cccde1; */
  /* border: 5px solid #7880a0; */
  /* border: 5px solid #717999; */
  /* border: 5px solid #8c90bb; */
  border-radius: 20px;
  background-color: whitesmoke;
  z-index: 4;
  /* background-color: #d4d1da; */
}

.ambiance-nav h5 {
  display: flex;
  font-size: 25px;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.5px;
  padding-left: 0px;
  padding-top: 5px;
}

.ambiance-nav button {
  display: inline-block;
  margin-top: 5px;
  margin-left: 30px;
  width: 95px;
  height: 60px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  outline: none;
  background-color: whitesmoke;
  /* box-shadow: 0 6px #766ca8; */
  box-shadow: 0 6px #48416d;
  font-weight: bolder;
  font-family: "Oswald", sans-serif;
  /* border: 3px solid orange; */
}

.ambiance-nav button:hover {
  background-color: #ebeaf2;
  opacity: 0.8;
}

.ambiance-nav button:active {
  background-color: #dfdcea;
  box-shadow: 0 3px #48416d;
  transform: translateY(4px);
  opacity: 0.8;
}

.ambiance-nav img {
  margin-top: 5px;
  margin-left: 28px;
}
.ambiance-nav img:hover {
  opacity: 0.6;
  height: 45px;
}

/* .audio-input-container {
  display: flex;
  flex-direction: column;
  border: solid 1px white;
  width: 100vw;
} */

/* .audio-input-container ul {
  align-items: center;
} */

/* .ambiance-options-container {
  display: flex;
  flex-basis: 0;
  flex-direction: row;
  border: solid 5px red;
  width: 45vw;
} */

/* .visuals-container {
  display: flex;
  flex-direction: row;
  width: 40vw;
  border: solid 5px white;
} */

/* .canvas-container {
  display: flex;
  justify-content: center;
} */

/* .footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 5px solid orange;
  background-color: whitesmoke;
  position: fixed;
  width: 95vw;
  bottom: 0px;
  height: 30px;
  font-size: 15px;
  color: black;
} */

.footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 30px;
  background-color: whitesmoke;
  align-items: center;
  justify-content: space-around;
  /* border-top: 3px dashed #ff6200; */
  border-top: 6px dotted orange;
}

.footer-copyright {
  font-family: "Playfair Display", serif;
  /* font-family: "Noto Serif", serif; */
  font-size: 15px;
  margin-left: 25px;
}

.footer-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 25px;
  justify-content: space-around;
}

.footer-links a {
  margin-left: 75px;
}
.footer-links a:hover {
  height: 40px;
  /* opacity: 0.8; */
}
